body,
html {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
}
acide {
  color: red;
}
.footer {
  padding: 115px 0 75px 0;
  background: #263238;
  color: #fff;
}

.footer__subtitle {
  position: relative;
  margin-bottom: 60px;
}

.footer__subtitle:after {
  content: "";
  width: 50px;
  height: 3px;
  background: #8bc34a;
  position: absolute;
  top: 50px;
  left: 0px;
}

.footer__about-text {
  color: #b7c3c8;
  font-size: 15px;
  margin-bottom: 35px;
}

.footer__about-address {
  margin-left: 35px;
  position: relative;
}

.footer__about-address:before {
  content: url("../img/geo.png");
  position: absolute;
  top: 3px;
  left: -34px;
}

.footer__about-phone {
  position: relative;
  margin-left: 35px;
}

.footer__about-phone:before {
  content: url("../img/phone.png");
  position: absolute;
  top: 3px;
  left: -34px;
}

.footer__content a {
  text-decoration: none;
  color: #b7c3c8;
}

.footer__content ul {
  padding-left: 14px;
  line-height: 36px;
  list-style-image: url("../img/arrow.png");
}

@media (min-width: 992px) {
  .footer__help {
    padding-left: 90px;
  }

  .footer__join {
    padding-left: 43px;
  }
}

.mrg {
  margin-bottom: 20px;
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  vertical-align: baseline;
  background: #ffffff;
  color: #444444;
  min-width: 320px;
}

.row-wrapper {
  max-width: 1170px;
}

.logo-block {
  margin: 21px 0;
}

.notify-block {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-height: 92px;
}

.notify-block>li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-right: 15px;
}

.notify-block li:last-child {
  margin-right: 0;
}

.notify-bell a {
  color: #757575;
  cursor: pointer;
}

.call-back-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 92px;
  color: #546e7a;
  font-size: 15px;
}

.call-back-block_red-text {
  color: #e74c3c;
}

.call-back-block_red-tel {
  color: #333;
}

.call-back-block a {
  color: #333;
  text-decoration: none;
}

/*notify bell style*/

.notify-bell,
.notify-message,
.notify-cart {
  position: relative;
}

.notify-bell,
.notify-message,
.notify-cart a {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: block;
  background: #f5f5f5;
  color: #757575;
  font-size: 20px;
  text-align: center;
}

.notify-bell i {
  font-size: 14px;
}

.notify-bell span {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  background: #fcb322;
  color: #ffffff;
  padding: 0 6px;
  font-size: 12px;
  line-height: 20px;
}

/*notify message style*/

.notify-message {
  position: relative;
}

.notify-message a {
  color: #757575;
  cursor: pointer;
}

.notify-message i {
  font-size: 14px;
}

.notify-message span {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  background: #ff6600;
  color: #ffffff;
  padding: 0 6px;
  font-size: 12px;
  line-height: 20px;
}

.notify-message i:hover {
  color: #333333;
}

/*notify-cart style*/

.notify-cart-wrapper {
  margin: auto;
}

.notify-cart {
  margin: 0 20px;
  position: relative;
}

.notify-cart i {
  color: #999999;
  font-size: 14px;
}

.notify-cart span {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  background: #99cc33;
  color: #ffffff;
  padding: 0 6px;
  font-size: 12px;
  line-height: 20px;
}

.account-user-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.account-user-block img {
  margin-right: 15px;
}

.account-user-block span {
  font-size: 11px;
}

.account-user-block button {
  border-style: none;
  background: #fff;
}

.account-name span {
  font-size: 14px;
  color: #222222;
  font-weight: bold;
}

.account-balance span {
  color: #8bc34a;
  font-size: 14px;
  font-weight: bold;
}

.account-user-block-row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.account-dropdown {
  position: relative;
  top: -10px;
  left: 10px;
}

/*dropdown style menu notify*/

.notify-bell i:hover,
.notify-cart i:hover,
.notify-message i:hover {
  color: #263238;
}

.dropdown-message-menu,
.dropdown-notify-menu,
.dropdown-cart-menu {
  position: absolute;
  top: 63px;
  left: -235px;
  border: 1px solid #ccc;
  display: none;
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: 0px 1px 6px #616161;
  box-shadow: 0px 1px 6px #616161;
}

.dropdown-notify-menu ul,
.dropdown-message-menu ul,
.dropdown-cart-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 270px;
}

.dropdown-notify-menu li,
.dropdown-message-menu li,
.dropdown-cart-menu li {
  border: 1px solid #cccc;
}

.dropdown-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 88px;
}

.dropdown-notification-inform span,
.dropdown-message-inform span,
.dropdown-cart-inform span,
.dropdown-cart-price span {
  position: static;
  border-radius: 0;
  color: #84b743;
  background: #ffff;
  display: block;
}

.dropdown-message-inform :first-child {
  color: #333;
}

.dropdown-notification-inform :last-child,
.dropdown-message-inform :last-child,
.dropdown-cart-inform :last-child {
  color: #444;
}

.dropdown-notification-sign i:hover,
.dropdown-message-sign i:hover {
  color: #ef6c00;
}

/*drop down cart start*/

.dropdown-cart-img {
  margin: 0 20px;
  opacity: 1;
}

.dropdown-cart-img:hover {
  opacity: 0.6;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.dropdown-cart-inform {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dropdown-cart-inform :first-child {
  color: #333;
  font-weight: bold;
  font-size: 11px;
}

.dropdown-cart-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.dropdown-cart-price span {
  color: #333333;
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 17px;
}

.dropdown-cart-buttons {
  text-align: center;
}

.dropdown-cart-wrapper {
  width: 100%;
}

.notify-cart:hover>.dropdown-cart-menu {
  display: block;
}

.notify-cart:hover>.dropdown-cart-menu>ul {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
}

/*dropdown account user block*/

.dropdown-user-menu {
  position: absolute;
  top: 92px;
  left: -145px;
  border: 1px solid #ccc;
  display: none;
  width: 156px;
}

.dropdown-user-menu ul {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.dropdown-user-menu li {
  list-style-type: none;
  padding: 10px 0;
}

.dropdown-user-menu span {
  font-size: 11px;
}

.dropdown-user-menu i {
  margin-right: 9px;
  color: #99cc66;
}

.dropdown-user-menu a {
  text-decoration: none;
  color: #333;
}

.buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.red-cart-btn {
  width: 46.24%;
  min-height: 35px;
  font-size: 10px;
  font-weight: bold;
  background-color: #ff6633;
  border-style: none;
  border-radius: 0;
}

.red-cart-btn:hover {
  background-color: #fff;
  color: #ff6633;
  border: 1px solid #ff6633;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.green-cart-btn {
  width: 46.24%;
  min-height: 35px;
  font-size: 10px;
  font-weight: bold;
  background-color: #99cc66;
  border-style: none;
  border-radius: 0;
}

.green-cart-btn:hover {
  background-color: #fff;
  color: #99cc66;
  border: 1px solid #99cc66;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/*for login button style*/

.login-btn {
  margin-right: 7px;
  text-align: center;
  color: #ffff;
  padding: 8px 20px 9px;
  background-color: #99cc33;
  text-transform: capitalize;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  border: 2px solid #99cc33;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.login-btn:hover {
  background-color: #ffff;
  color: #99cc33;
  border-color: #99cc33;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/*logout button style*/

.logout-btn,
.register-btn {
  margin-right: 7px;
  text-align: center;
  color: #ffff;
  padding: 8px 20px 9px;
  background-color: #ff3333;
  text-transform: capitalize;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  border: 2px solid #ff3333;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.logout-btn:hover {
  background-color: #ffff;
  color: #ff3333;
  border-color: #ff3333;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* for header after login*/

.notify-bell-disabled,
.notify-message-disabled,
.user-block-disabled {
  display: none;
}

.logout-btn,
.login-btn {
  display: none;
}

.register-btn-enabled,
.login-btn-enabled {
  display: block;
}

/*for adaptive*/

.row-wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-wrapper {
  max-width: 1170px;
  margin-right: 20px;
}

.empty-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.logo- .notify-block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
}

@media (min-width: 320px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (min-width:320px) and (max-width:480px) {
  .container {
    max-width: 90%;
  }

  .notify-cart-wrapper {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .call-back-block {
    display: none;
  }

  .notify-wrapper {
    margin: auto;
  }

  .logo-wrapper {
    width: 100%;
    padding: 20px;
  }

  .logo-block {
    margin: auto;
    min-width: 140px;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-bottom {
  background-color: #263238;
  height: 60px;
  position: relative;
}

.navbar-desing {
  max-width: 1170px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #263238;
  padding: 0;
}

.navbar-desing .navbar-toggler {
  z-index: 2;
}

.navbar-desing .navbar-collapse {
  z-index: 1;
}

.header-bottom .navbar-dark .navbar-nav .nav-link {
  color: white;
}

.header-bottom.nav-link:hover {
  background-color: #3d5059;
}

.header-bottom.nav-link:visited {
  color: white;
}

.header-bottom .nav-item {
  margin-right: 40px;
  padding: 12px 10px 0 15px;
}

@media (max-width: 992px) {
  .header-bottom .navbar-toggler {
    position: absolute;
    top: 8px;
    right: 20px;
    clear: both;
  }

  .header-bottom .navbar-nav {
    margin-top: 35px;
    text-align: center;
    background-color: rgba(38, 50, 56, 0.8);
  }

  .header-bottom .navbar-nav li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
}



* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.scrumbl {
  width: 100%;
  height: 100px;
  background-color: #f4f6f5;
}

.product-details {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f6f5;
}

.hero-product-details {
  max-width: 1170px;
  margin: 0 auto;
}

.item-product-large {
  border: 1px solid #dcdcdc;
  background-color: #fff;
  margin-bottom: 40px;
}

.product-large {
  margin: 20px;
  height: 425px;
  background-color: #d4d4d4;
}

.product-description h2 {
  font-size: 30px;
  font-family: "Roboto";
  margin-bottom: 30px;
}

.product-description p {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 2;
  margin-bottom: 45px;
}

/*---------------------aside---------------------*/

.aside h4 {
  font-size: 20px;
  font-weight: bold;
}

.aside-section {
  border: 1px solid #dcdcdc;
  padding: 25px 25px 0 15px;
  background-color: #fff;
  margin-bottom: 30px;
}

.aside-info {
  border-top: 1px solid #dcdcdc;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/*----------first aside block-------------*/

.product-price {
  position: relative;
}

.price-info .price {
  color: #e74c3c;
  font-size: 22px;
  position: inherit;
  margin: 5px 5px 10px 0;
}

.product-price-option {
  border-radius: 0;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  color: #70838d;
  margin-bottom: 28px;
}

.dropdown-toggle::after {
  color: #8bc34a;
}

.button-product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-product-price {
  max-width: 208px;
  height: 50px;
  margin-bottom: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 1px;
  -webkit-box-shadow: -2px 2px 7px rgba(0,0,0,0.5);
  box-shadow: -2px 2px 7px rgba(0,0,0,0.5);
  -webkit-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.button-product-details .blue {
  background-color: #42a5f5;
}

.button-product-details .blue:hover {
  background-color: #fff;
  color: #42a5f5;
  border: 3px solid #42a5f5;
}

.button-product-details .grey {
  background-color: #546e7a;
  margin-bottom: 30px;
}

.button-product-details .grey:hover {
  background-color: #fff;
  color: #546e7a;
  border: 3px solid  #546e7a;
}

.button-product-details .green {
  background-color: #8bc34a;
}

.button-product-details .green:hover {
  background-color: #fff;
  color: #8bc34a;
  border: 3px solid  #8bc34a;
}

.fas,
.far {
  margin-right: 8px;
}

.btn-product-price:hover {
  width: 190px;
  height: 45px;
}

.dropdown-item:hover {
  background-color: #acb4b8;
}

/*----------second aside block------------*/

.photo-author {
  width: 75px;
  height: 65px;
  background-color: #d4d4d4;
}

.about-author span {
  display: block;
  font-size: 18px;
  margin: 0 5px 10px 14px;
}

.profile-button {
  width: 92px;
  height: 28px;
  border-radius: 1px;
  color: #939393;
  font-size: 13px;
  margin-left: 14px;
}

.author-info {
  margin-bottom: 25px;
}

@media (max-width: 960px) {
  .btn-product-price:hover {
    width: 95%;
    height: 95%;
  }

  .aside-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .photo-author {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .about-author span {
    text-align: center;
  }

  .profile-button {
    display: block;
    margin: 0 auto;
  }
}
/*     FONTS     */

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.woff2") format('woff2'),
        url("../fonts/Roboto-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}

/*     END FONTS     */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
}

/*     SEARCH     */

.search_bg {
  background: url("../img/banner_image.jpg");
  padding: 61px 15px 69px 15px;
}

.search_bg h3 {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin: 0;
  margin-bottom: 28px;
}

.search {
  width: 670px;
  height: 58px;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #fff;
  padding: 1px;
  -webkit-box-shadow: 0px 0px 7px 3px #9e9e9e;
  box-shadow: 0px 0px 7px 3px #9e9e9e;
}

.srchinput {
  width: 583px;
  border: none;
  margin-left: 25px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: #90a4ae;
}

.srchbutton {
  width: 56px;
  height: 56px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.srchbutton:hover {
  opacity: 0.3;
}

@media (max-width: 767.98px) {
  .search_bg {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .search_bg h3 {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .search {
    width: 310px;
    height: 40px;
  }

  .srchinput {
    width: 263px;
    margin-left: 5px;
    font-size: 14px;
  }

  .srchbutton {
    width: 35px;
    height: 35px;
  }
}

@font-face {
  font-family: 'robotolight';
  src: url("fonts/roboto-light-webfont.woff2") format('woff2'),
         url("fonts/roboto-light-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight_italic';
  src: url("fonts/roboto-lightitalic-webfont.woff2") format('woff2'),
         url("fonts/roboto-lightitalic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url("fonts/roboto-medium-webfont.woff2") format('woff2'),
         url("fonts/roboto-medium-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium_italic';
  src: url("fonts/roboto-mediumitalic-webfont.woff2") format('woff2'),
         url("fonts/roboto-mediumitalic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("fonts/roboto-regular-webfont.woff2") format('woff2'),
         url("fonts/roboto-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("fonts/roboto-thin-webfont.woff2") format('woff2'),
         url("fonts/roboto-thin-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin_italic';
  src: url("fonts/roboto-thinitalic-webfont.woff2") format('woff2'),
         url("fonts/roboto-thinitalic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack';
  src: url("fonts/roboto-black-webfont.woff2") format('woff2'),
         url("fonts/roboto-black-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack_italic';
  src: url("fonts/roboto-blackitalic-webfont.woff2") format('woff2'),
         url("fonts/roboto-blackitalic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url("fonts/roboto-bold-webfont.woff2") format('woff2'),
         url("fonts/roboto-bold-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold_italic';
  src: url("fonts/roboto-bolditalic-webfont.woff2") format('woff2'),
         url("fonts/roboto-bolditalic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoitalic';
  src: url("fonts/roboto-italic-webfont.woff2") format('woff2'),
         url("fonts/roboto-italic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff2") format('woff2'),
        url("../fonts/Roboto-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
}

/*     MAIN CONTENT     */

.main_content_bg {
  background-color: #f4f6f5;
  padding-top: 101px;
  padding-bottom: 152px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.column-right {
  width: 870px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  padding: 34px 39px 80px 39px;
}

.column-right h4 {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 60px;
  color: #263238;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

label {
  display: block;
  width: 235px;
  margin: 0;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 15px;
  line-height: 60px;
  color: #444444;
}

.line-form {
  width: 540px;
  height: 40px;
  border: 1px solid #dedede;
  background-color: #f9f9f9;
  padding: 0 5px;
  margin-bottom: 22px;
}

.cta {
  border: none;
  background-color: #8bc34a;
  color: #f8fbf6;
  font-weight: 500;
  font-size: 15px;
  padding: 16px 31px 19px 31px;
  cursor: pointer;
}

.cta:hover {
  background-color: orange;
}