body,
html {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
}
@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto-light-webfont.woff2") format('woff2'),
         url("../fonts/roboto-light-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight_italic';
  src: url("../fonts/roboto-lightitalic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-lightitalic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/roboto-medium-webfont.woff2") format('woff2'),
         url("../fonts/roboto-medium-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium_italic';
  src: url("../fonts/roboto-mediumitalic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-mediumitalic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.woff2") format('woff2'),
         url("../fonts/roboto-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("../fonts/roboto-thin-webfont.woff2") format('woff2'),
         url("../fonts/roboto-thin-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin_italic';
  src: url("../fonts/roboto-thinitalic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-thinitalic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack';
  src: url("../fonts/roboto-black-webfont.woff2") format('woff2'),
         url("../fonts/roboto-black-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack_italic';
  src: url("../fonts/roboto-blackitalic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-blackitalic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url("../fonts/roboto-bold-webfont.woff2") format('woff2'),
         url("../fonts/roboto-bold-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold_italic';
  src: url("../fonts/roboto-bolditalic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-bolditalic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoitalic';
  src: url("../fonts/roboto-italic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-italic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
.aside h4 {
  font-size: 20px;
  font-weight: bold;
  color: #263238;
}

.aside-section {
  max-width: 270px;
  border: 1px solid #dcdcdc;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.aside-info {
  border-top: 1px solid #dcdcdc;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.footer {
  padding: 115px 0 75px 0;
  background: #263238;
  color: #fff;
}

.footer__content a:hover {
  color: #fff;
}

.footer__subtitle {
  position: relative;
  padding-bottom: 22px;
  margin-bottom: 38px;
}

.footer__subtitle:after {
  content: "";
  width: 50px;
  height: 3px;
  background: #8bc34a;
  position: absolute;
  bottom: 0;
  left: 0px;
}

.footer__text {
  color: #b7c3c8;
  font-size: 15px;
  margin-bottom: 35px;
}

.footer__address {
  margin-left: 35px;
  position: relative;
}

.footer__address:before {
  content: url("../img/geo.png");
  position: absolute;
  top: 3px;
  left: -34px;
}

.footer__phone {
  position: relative;
  margin-left: 35px;
  color: #fff;
}

.footer__phone:before {
  content: url("../img/phone.png");
  position: absolute;
  top: 3px;
  left: -34px;
}

.footer__content a {
  text-decoration: none;
  color: #b7c3c8;
}

.footer__content ul {
  padding-left: 14px;
  line-height: 36px;
  list-style-image: url("../img/arrow.png");
}

.footer-social {
  margin-bottom: 40px;
}

.footer-social a {
  display: inline-block;
  margin-right: 4px;
}

.footer-social a:hover {
  -webkit-filter: saturate(3);
  filter: saturate(3);
}

.footer__signup-title {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}

.footer__input-custom {
  background: #2f3c43;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: inset 1px 1px 0px #000;
  box-shadow: inset 1px 1px 0px #000;
  outline: none;
  max-width: 220px;
}

.footer__btn-custom {
  background: #8bc34a;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: inset 0px 1px 0px #000;
  box-shadow: inset 0px 1px 0px #000;
}

@media (max-width: 992px) {
  .footer__card {
    margin-bottom: 20px;
  }
}
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  vertical-align: baseline;
  background: #ffffff;
  color: #444444;
  min-width: 320px;
}

.row-wrapper {
  max-width: 1170px;
}

.logo-block {
  margin: 21px 0;
}

.notify-block {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  min-height: 92px;
}

.notify-block>li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-right: 15px;
}

.notify-block li:last-child {
  margin-right: 0;
}

.notify-bell a {
  color: #757575;
  cursor: pointer;
}

.call-back-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 92px;
  color: #546e7a;
  font-size: 15px;
}

.call-back-block_red-text {
  color: #e74c3c;
}

.call-back-block_red-tel {
  color: #333;
}

.call-back-block a {
  color: #333;
  text-decoration: none;
}

/*notify bell style*/

.notify-bell,
.notify-message,
.notify-cart {
  position: relative;
}

.notify-bell,
.notify-message,
.notify-cart a {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: block;
  background: #f5f5f5;
  color: #757575;
  font-size: 20px;
  text-align: center;
}

.notify-bell i {
  font-size: 14px;
}

.notify-bell span {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  background: #fcb322;
  color: #ffffff;
  padding: 0 6px;
  font-size: 12px;
  line-height: 20px;
}

/*notify message style*/

.notify-message {
  position: relative;
}

.notify-message a {
  color: #757575;
  cursor: pointer;
}

.notify-message i {
  font-size: 14px;
}

.notify-message span {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  background: #ff6600;
  color: #ffffff;
  padding: 0 6px;
  font-size: 12px;
  line-height: 20px;
}

.notify-message i:hover {
  color: #333333;
}

/*notify-cart style*/

.notify-cart-wrapper {
  margin: auto;
}

.notify-cart {
  margin: 0 20px;
  position: relative;
}

.notify-cart i {
  color: #999999;
  font-size: 14px;
}

.notify-cart span {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  background: #99cc33;
  color: #ffffff;
  padding: 0 6px;
  font-size: 12px;
  line-height: 20px;
}

.account-user-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.account-user-block img {
  margin-right: 15px;
}

.account-user-block span {
  font-size: 11px;
}

.account-user-block button {
  border-style: none;
  background: #fff;
}

.account-name span {
  font-size: 14px;
  color: #222222;
  font-weight: bold;
}

.account-balance span {
  color: #8bc34a;
  font-size: 14px;
  font-weight: bold;
}

.account-user-block-row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.account-dropdown {
  position: relative;
  top: -10px;
  left: 10px;
}

/*dropdown style menu notify*/

.notify-bell i:hover,
.notify-cart i:hover,
.notify-message i:hover {
  color: #263238;
}

.dropdown-message-menu,
.dropdown-notify-menu,
.dropdown-cart-menu {
  position: absolute;
  top: 63px;
  left: -235px;
  border: 1px solid #ccc;
  display: none;
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: 0px 1px 6px #616161;
  box-shadow: 0px 1px 6px #616161;
}

.dropdown-notify-menu ul,
.dropdown-message-menu ul,
.dropdown-cart-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 270px;
}

.dropdown-notify-menu li,
.dropdown-message-menu li,
.dropdown-cart-menu li {
  border: 1px solid #cccc;
}

.dropdown-item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 88px;
}

.dropdown-notification-inform span,
.dropdown-message-inform span,
.dropdown-cart-inform span,
.dropdown-cart-price span {
  position: static;
  border-radius: 0;
  color: #84b743;
  background: #ffff;
  display: block;
}

.dropdown-message-inform :first-child {
  color: #333;
}

.dropdown-notification-inform :last-child,
.dropdown-message-inform :last-child,
.dropdown-cart-inform :last-child {
  color: #444;
}

.dropdown-notification-sign i:hover,
.dropdown-message-sign i:hover {
  color: #ef6c00;
}

/*drop down cart start*/

.dropdown-cart-img {
  margin: 0 20px;
  opacity: 1;
}

.dropdown-cart-img:hover {
  opacity: 0.6;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.dropdown-cart-inform {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dropdown-cart-inform :first-child {
  color: #333;
  font-weight: bold;
  font-size: 11px;
}

.dropdown-cart-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.dropdown-cart-price span {
  color: #333333;
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 17px;
}

.dropdown-cart-buttons {
  text-align: center;
}

.dropdown-cart-wrapper {
  width: 100%;
}

.notify-cart:hover>.dropdown-cart-menu {
  display: block;
}

.notify-cart:hover>.dropdown-cart-menu>ul {
  opacity: 1;
  visibility: visible;
  transform: scaleY(1);
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
}

/*dropdown account user block*/

.dropdown-user-menu {
  position: absolute;
  top: 92px;
  left: -145px;
  border: 1px solid #ccc;
  display: none;
  width: 156px;
}

.dropdown-user-menu ul {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.dropdown-user-menu li {
  list-style-type: none;
  padding: 10px 0;
}

.dropdown-user-menu span {
  font-size: 11px;
}

.dropdown-user-menu i {
  margin-right: 9px;
  color: #99cc66;
}

.dropdown-user-menu a {
  text-decoration: none;
  color: #333;
}

.buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.red-cart-btn {
  width: 46.24%;
  min-height: 35px;
  font-size: 10px;
  font-weight: bold;
  background-color: #ff6633;
  border-style: none;
  border-radius: 0;
}

.red-cart-btn:hover {
  background-color: #fff;
  color: #ff6633;
  border: 1px solid #ff6633;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.green-cart-btn {
  width: 46.24%;
  min-height: 35px;
  font-size: 10px;
  font-weight: bold;
  background-color: #99cc66;
  border-style: none;
  border-radius: 0;
}

.green-cart-btn:hover {
  background-color: #fff;
  color: #99cc66;
  border: 1px solid #99cc66;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/*for login button style*/

.login-btn {
  margin-right: 7px;
  text-align: center;
  color: #ffff;
  padding: 8px 20px 9px;
  background-color: #99cc33;
  text-transform: capitalize;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  border: 2px solid #99cc33;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.login-btn:hover {
  background-color: #ffff;
  color: #99cc33;
  border-color: #99cc33;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/*logout button style*/

.logout-btn,
.register-btn {
  margin-right: 7px;
  text-align: center;
  color: #ffff;
  padding: 8px 20px 9px;
  background-color: #ff3333;
  text-transform: capitalize;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  border: 2px solid #ff3333;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.logout-btn:hover {
  background-color: #ffff;
  color: #ff3333;
  border-color: #ff3333;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* for header after login*/

.notify-bell-disabled,
.notify-message-disabled,
.user-block-disabled {
  display: none;
}

.logout-btn,
.login-btn {
  display: none;
}

.register-btn-enabled,
.login-btn-enabled {
  display: block;
}

/*for adaptive*/

.row-wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-wrapper {
  max-width: 1170px;
  margin-right: 20px;
}

.empty-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.logo- .notify-block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
}

@media (min-width: 320px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (min-width:320px) and (max-width:480px) {
  .container {
    max-width: 90%;
  }

  .notify-cart-wrapper {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .call-back-block {
    display: none;
  }

  .notify-wrapper {
    margin: auto;
  }

  .logo-wrapper {
    width: 100%;
    padding: 20px;
  }

  .logo-block {
    margin: auto;
    min-width: 140px;
  }
}
.bg-newest-products {
  background: #f4f6f5;
}

.section-space {
  padding: 112px 0 95px;
}

.title-default {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  color: #263238;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 45px;
}

.controls-btn-box {
  text-align: center;
  margin-bottom: 45px;
}

.controls-btn-box button {
  border: none;
  background: #ffffff;
  padding: 10px 26px;
  font-size: 14px;
  font-weight: 500;
  color: #263238;
  margin: 0 3px 5px;
  text-transform: capitalize;
  display: inline-block;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.controls-btn-box button:hover {
  background: #e74c3c;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.controls-btn-box>button.active {
  background: #e74c3c;
  color: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.controls-btn-box>button:focus {
  outline: 0 none;
}

.current-active {
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  background: #e74c3c;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.single-item-grid .item-content {
  background: #ffffff;
  padding: 22px 30px;
  border: 1px solid #e7ecf2;
}

.single-item-grid {
  margin-bottom: 30px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.single-item-grid:hover {
  -webkit-box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
  box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
}

.item-info {
  padding-bottom: 15px;
  border-bottom: 1px solid #e7ecf2;
  position: relative;
}

.item-info >.price {
  position: absolute;
  top: 0;
  right: -17px;
  z-index: 1;
  color: #263238;
  font-size: 14px;
  font-weight: 700;
}

.trending-sign {
  cursor: pointer;
  top: 0;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 60px solid #8bc34a;
  border-right: 60px solid transparent;
  z-index: 3;
}

.trending-sign i {
  top: -50px;
  position: relative;
  left: 10px;
  color: #fff;
}

.item-info h3 {
  color: #263238;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 2px;
}

.item-info h3 a {
  color: #263238;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.item-info a {
  text-decoration: none;
  background-color: transparent;
}

.item-info h3 a:hover {
  color: #8bc34a;
}

.item-info span {
  color: #8bc34a;
  font-size: 14px;
}

.item-profile {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-title {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-title span {
  margin: 5px 0 0 10px;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.img-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.profile-rating {
  margin-top: 5px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
}

.profile-rating ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.profile-rating ul li:first-child {
  margin-left: 0;
}

.profile-rating li {
  display: inline-block;
  color: #ffa726;
  margin-left: 1px;
  font-size: 12px;
}

.profile-rating li:last-child {
  color: #333;
}

.newest-buttons-wrapper {
  text-align: center;
}

.btn-area {
  margin: 30px 0 20px;
}

.btn-newest {
  border-style: none;
  border-radius: 0;
  color: #333;
  background-color: #fff;
  min-height: 52px;
  min-width: 163px;
  margin: 0 6px;
}

.btn-newest:hover {
  background-color: #99cc33;
  color: #fff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

@media screen and (min-width:320px) and (max-width:1600px) {
  .item-profile {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .profile-rating {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
  }
}

/*second section owl carousel*/

.section-space-default {
  padding: 112px 0 95px;
  background-color: #fff;
}

.trending-slide-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-bottom {
  background-color: #263238;
  height: 60px;
  position: relative;
}

.navbar-desing {
  max-width: 1170px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #263238;
  padding: 0;
}

.navbar-desing .navbar-toggler {
  z-index: 2;
}

.navbar-desing .navbar-collapse {
  z-index: 1;
}

.header-bottom .navbar-dark .navbar-nav .nav-link {
  color: white;
}

.header-bottom .nav-link:hover {
  background-color: #3d5059;
}

.header-bottom.nav-link:visited {
  color: white;
}

.header-bottom .nav-item {
  margin-right: 40px;
  padding: 12px 10px 0 15px;
}

@media (max-width: 992px) {
  .header-bottom .navbar-toggler {
    position: absolute;
    top: 8px;
    right: 20px;
    clear: both;
  }

  .header-bottom .navbar-nav {
    margin-top: 35px;
    text-align: center;
    background-color: rgba(38, 50, 56, 0.8);
  }

  .header-bottom .navbar-nav li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  }
}
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */

/*
 *  Owl Carousel - Core
 */

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */

.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */

.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */

.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */

.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item .owl-lazy[src^=""],
.owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("components/owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 100ms ease;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease;
  transition: transform 100ms ease, -webkit-transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */

/*
 * 	Default theme - Owl Carousel CSS File
 */

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}



* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.scrumbl {
  width: 100%;
  height: 100px;
  background-color: #f4f6f5;
}

.product-details {
  background-color: #f4f6f5;
  color: #707070;
}

.hero-product-details {
  max-width: 1170px;
  margin: 0 auto;
}

.item-product-large {
  border: 1px solid #dcdcdc;
  background-color: #fff;
  margin-bottom: 40px;
  padding: 20px;
}

.product-large {
  height: 425px;
  background-color: #d4d4d4;
  width: 100%;
}

.product-large img {
  width: 100%;
}

.product-description h2 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #263238;
}

.product-description p {
  line-height: 2;
  margin-bottom: 45px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.builder-button .red {
  background-color: #e74c3c;
  padding: 0 25px;
}

.builder-button .blue {
  background-color: #455a64;
  padding: 0 35px;
}

.builder-button .green {
  background-color: #8bc34a;
  padding: 0 25px;
}

.btn-product-build {
  min-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #f3edec;
  border: none;
  border-radius: 1px;
  margin: 0 18px 55px 0;
}

.btn-product-build:hover {
  background-color: #a8a8a8;
  -webkit-box-shadow: -2px 2px 7px rgba(0,0,0,0.5);
  box-shadow: -2px 2px 7px rgba(0,0,0,0.5);
}

.product-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.product-media div {
  width: 55px;
  height: 50px;
  margin-right: 4px;
  padding: 17px 20px;
  cursor: pointer;
}

.facebook {
  background-color: #6370b6;
}

.twitter {
  background-color: #64b5f6;
}

.linkedin {
  background-color: #4f71ce;
}

.pinterest {
  background-color: #d32f2f;
}

.product-media a {
  color: #fff;
}

/*---------tabs---------------*/

.tabs-section {
  margin-bottom: 50px;
}

.product-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-tabs .nav-item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: #70838d;
}

.product-tabs .nav-item .nav-link {
  border: 1px solid color #d7d7d7;
}

.tabs-section .nav-tabs {
  min-height: 60px;
  margin: auto;
  text-align: center;
  line-height: 3;
}

.tabs-section .nav-tabs .nav-link.active {
  border-bottom: 3px solid #8bc34a;
  font-weight: 600;
}

.tab-content {
  width: 100%;
  min-height: 265px;
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.tab-pane {
  padding: 39px 34px 45px 34px;
  line-height: 2;
  text-align: justify;
}

.content-tabs-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features {
  padding: 5px;
  margin-right: 30px;
}

.features li {
  margin-bottom: 20px;
}

.features li:before {
  content: "";
  color: #8bc34a;
}

.marker {
  color: #94c75c;
  padding-right: 5px;
}

/*---------------------aside---------------------*/

.aside h4 {
  font-size: 20px;
  font-weight: bold;
  color: #263238;
}

.aside-section {
  max-width: 270px;
  border: 1px solid #dcdcdc;
  padding: 30px;
  background-color: #fff;
  margin-bottom: 30px;
}

.aside-info {
  border-top: 1px solid #dcdcdc;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/*----------first aside block-------------*/

.product-price {
  position: relative;
}

.price-info .price {
  color: #e74c3c;
  font-size: 22px;
  position: inherit;
  margin: 5px 5px 10px 0;
}

.product-price-option {
  border-radius: 0;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  color: #70838d;
  margin-bottom: 28px;
}

.dropdown-toggle::after {
  color: #8bc34a;
}

.price-regular {
  text-align: center;
}

.price-regular .dropdown-item {
  text-align: left;
  white-space: normal;
}

.button-product-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-product-price {
  max-width: 208px;
  min-height: 50px;
  margin-bottom: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 1px;
  -webkit-box-shadow: -2px 2px 7px rgba(0,0,0,0.5);
  box-shadow: -2px 2px 7px rgba(0,0,0,0.5);
  white-space: normal;
}

.button-product-details .blue {
  background-color: #42a5f5;
}

.button-product-details .blue:hover {
  background-color: #fff;
  color: #42a5f5;
  border: 3px solid #42a5f5;
}

.button-product-details .grey {
  background-color: #546e7a;
}

.button-product-details .grey:hover {
  background-color: #fff;
  color: #546e7a;
  border: 3px solid #546e7a;
}

.button-product-details .green {
  background-color: #8bc34a;
}

.button-product-details .green:hover {
  background-color: #fff;
  color: #8bc34a;
  border: 3px solid  #8bc34a;
}

.fas,
.far {
  margin-right: 8px;
}

.dropdown-item:hover {
  background-color: #acb4b8;
}

/*----------second aside block------------*/

.photo-author {
  width: 75px;
  height: 65px;
  background-color: #d4d4d4;
}

.about-author span {
  display: block;
  font-size: 18px;
  margin: 0 5px 10px 14px;
}

.profile-button {
  width: 92px;
  height: 28px;
  border-radius: 1px;
  color: #939393;
  font-size: 13px;
  margin-left: 14px;
}

.author-info {
  margin-bottom: 25px;
}

.batch img {
  margin-right: 8px;
}

.batch img:last-child {
  margin-right: 0;
}

@media (max-width: 960px) {
  .btn-product-price:hover {
    width: 95%;
    height: 95%;
  }

  .aside-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .photo-author {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .about-author span {
    text-align: center;
  }

  .profile-button {
    display: block;
    margin: 0 auto;
  }
}
/*     FONTS     */

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.woff2") format('woff2'),
        url("../fonts/Roboto-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}

/*     END FONTS     */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
}

/*     SEARCH     */

.search_bg {
  background: url("../img/banner_image.jpg");
  padding: 61px 15px 69px 15px;
}

.search_bg h3 {
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin: 0;
  margin-bottom: 28px;
}

.form-srch {
  max-width: 670px;
  margin: 0 auto;
  position: relative;
}

.srchinput {
  width: 100%;
  height: 58px;
  padding-left: 10px;
  padding-right: 50px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: #90a4ae;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 7px 3px #9e9e9e;
  box-shadow: 0px 0px 7px 3px #9e9e9e;
}

.srchbutton {
  width: 20px;
  height: 20px;
  background: url("../img/search_button.png") center no-repeat;
  position: absolute;
  padding: 0;
  top: 19px;
  right: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.srchbutton:hover {
  opacity: 0.3;
}

@media (max-width: 767.98px) {
  .search_bg {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .search_bg h3 {
    font-size: 15px;
    margin-bottom: 15px;
  }
}
/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/

.icon-fs-icon {
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
  width: 28px;
  height: 28px;
}

.icon-linkedin {
  background-image: url("../img/sprite.png");
  background-position: -28px 0px;
  width: 28px;
  height: 28px;
}

.icon-pinterest-icon {
  background-image: url("../img/sprite.png");
  background-position: 0px -28px;
  width: 28px;
  height: 28px;
}

.icon-twitter-icon {
  background-image: url("../img/sprite.png");
  background-position: -28px -28px;
  width: 28px;
  height: 28px;
}

.icon-youtube-icon {
  background-image: url("../img/sprite.png");
  background-position: -56px 0px;
  width: 28px;
  height: 28px;
}

@font-face {
  font-family: 'robotolight';
  src: url("fonts/roboto-light-webfont.woff2") format('woff2'),
         url("fonts/roboto-light-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight_italic';
  src: url("fonts/roboto-lightitalic-webfont.woff2") format('woff2'),
         url("fonts/roboto-lightitalic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url("fonts/roboto-medium-webfont.woff2") format('woff2'),
         url("fonts/roboto-medium-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium_italic';
  src: url("fonts/roboto-mediumitalic-webfont.woff2") format('woff2'),
         url("fonts/roboto-mediumitalic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("fonts/roboto-regular-webfont.woff2") format('woff2'),
         url("fonts/roboto-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("fonts/roboto-thin-webfont.woff2") format('woff2'),
         url("fonts/roboto-thin-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin_italic';
  src: url("fonts/roboto-thinitalic-webfont.woff2") format('woff2'),
         url("fonts/roboto-thinitalic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack';
  src: url("fonts/roboto-black-webfont.woff2") format('woff2'),
         url("fonts/roboto-black-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoblack_italic';
  src: url("fonts/roboto-blackitalic-webfont.woff2") format('woff2'),
         url("fonts/roboto-blackitalic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url("fonts/roboto-bold-webfont.woff2") format('woff2'),
         url("fonts/roboto-bold-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold_italic';
  src: url("fonts/roboto-bolditalic-webfont.woff2") format('woff2'),
         url("fonts/roboto-bolditalic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoitalic';
  src: url("fonts/roboto-italic-webfont.woff2") format('woff2'),
         url("fonts/roboto-italic-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff2") format('woff2'),
        url("../fonts/Roboto-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.wrapper {
  width: 100%;
}

/*     MAIN CONTENT     */

.main_content_bg {
  background-color: #f4f6f5;
  padding-top: 101px;
  padding-bottom: 152px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.column-right {
  max-width: 870px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  padding: 34px 39px 80px 39px;
}

.column-right h4 {
  padding-left: 39px;
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 24px;
  color: #263238;
  border-bottom: 1px solid #dcdcdc;
  margin: 0 -39px;
}

.input_fields_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 22px;
}

.input_fields_row-top {
  padding-top: 34px;
}

.label-form-s_p_i {
  max-width: 235px;
  width: 100%;
  margin: 0;
  margin-right: 15px;
  font-weight: normal;
  font-size: 15px;
  color: #444444;
  padding-top: 10px;
}

.line-form {
  max-width: 540px;
  width: 100%;
  height: 40px;
  border: 1px solid #dedede;
  background-color: #f9f9f9;
  padding: 0 5px;
}

.cta {
  border: none;
  background-color: #8bc34a;
  color: #f8fbf6;
  font-weight: 500;
  font-size: 15px;
  padding: 16px 31px 19px 31px;
  cursor: pointer;
}

.cta:hover {
  background-color: orange;
}

.row-cta {
  margin: 0;
}

.column-left {
  max-width: 270px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dcdcdc;
}

ul {
  padding: 0;
  margin: 0;
}

.setting-menu-row {
  list-style: none;
  padding: 19px;
  border-bottom: 1px solid #d7d7d7;
}

.setting-menu-row:last-child {
  border-bottom: none;
}

.setting-menu-row:hover {
  border-bottom: 2px solid #8bc34a;
}

.settings-menu {
  text-decoration: none;
  color: #707070;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

.fa-angle-right {
  padding-right: 23px;
  font-size: 9px;
  color: #444444;
}

@media (max-width: 1199.98px) {
  .column-right,
  .column-left {
    margin: 0 10px;
  }
}

@media (max-width: 767.98px) {
  .main_content_bg {
    padding-top: 40px;
  }

  .container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .column-left {
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .input_fields_row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .label-form-s_p_i {
    margin-bottom: 10px;
    font-size: 20px;
  }
}