a:hover {
	text-decoration: none;
}
.ani-wrap {
	background: #f4f6f5;
	padding: 45px 0 105px 0;
}
.breadcrumb__ani-custom {
	background: #f4f6f5;
	margin-bottom: 45px;
}
.breadcrumb__ani-custom .breadcrumb-item a {
	color: #b0bec5;
}
.breadcrumb__ani-custom .active {
	color: #000;
}
.breadcrumb__ani-custom .active:before {
	content: '-';
}

/*---start-card-section----*/
.ani-btn, .ani-btn:hover {
	background: none;
	color: #000;
	border: none;
}
.ani-btn:focus {
	box-shadow: none;
}
.btn-group-custom.btn-secondary:not(:disabled):not(.disabled).active:focus,
 .btn-secondary:not(:disabled):not(.disabled):active:focus,
  .show>.btn-secondary.dropdown-toggle:focus {
  	box-shadow: none;
  	background: none;
  	color: #000;
  }
.ani-btn:after {
	content: url(../../img/dropdown-arrows.png);
	border: none;
	vertical-align: -2px;
	margin-left: 5px;
}
.ani-btn:before {
	content: url(../../img/view-menu-icon.png);
	border: none;
	vertical-align: -2px;
	margin-right: 5px;
}

.ani-card-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.select-panel {
	padding: 10px;
	background: #fff;
	width: 100%;
	display: flex;
	justify-content: space-between;
	border: solid 1px #d4d4d4;
	margin-bottom: 30px;
}
.select-view-icon i {
	vertical-align: -6px;
	cursor: pointer;
}
.select-view-icon i:hover {
	color: #8bc34a;
}
.ani-card-custom {
	
}
.ani-card-custom .card-body {
	border-top: solid 1px #d4d4d4;
}
.ani-card-title-wrap {
	display: flex;
	justify-content: space-between;
	margin: 0;
}
.ani-card-title {
}
.ani-card-price {

}
.ani-card-text-custom {
	color: #8bc34a;
	font-size: 14px;
}
.ani-card-body-custom {
	display: flex;
	justify-content: space-between;
}
.ani-card-author {
	display: flex;
}
.ani-card-author .card-link {
	color: #546e7a;
	align-self: center;
	font-size: 14px;
	font-weight: 500;
}
.ani-card-circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: url(../../img/demo-card.png) 27% 100% / cover no-repeat;
	margin-right: 10px;
}
.ani-rating {
	display: flex;
	align-self: center;
}
.ani-rating-stars {
	color: #ffa726;
	letter-spacing: -6px;
	margin-right: 5px;
}
.ani-rating-hooks {
	color: #c0cbd1;
}
.ani-rating-value {
	color: #000;
}
