@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
}

/*     MAIN CONTENT     */

.main_content_bg {
	background-color: #f4f6f5;
	padding-top: 101px;
	padding-bottom: 152px;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.column-right {
	width: 870px;
	background-color: #fff; 
	border: 1px solid #dcdcdc;
	padding: 34px 39px 80px 39px;
}

.column-right h4 {
	margin: 0;
	padding-bottom: 25px;
	font-weight: 500;
	font-size: 24px;
	color: #263238;
	border-bottom: 1px solid #dcdcdc;
}

.input_fields_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 22px;
}

.input_fields_row-top {
	padding-top: 34px;
}

.label-form-s_p_i {
	max-width: 235px;
	width: 100%;
	margin: 0;
	font-family: 'Roboto';
	font-weight: normal;
	font-size: 15px;
	color: #444444;
	padding-top: 10px;
}

.line-form {
	max-width: 540px;
	width: 100%;
	height: 40px;
	border: 1px solid #dedede;
	background-color: #f9f9f9;
	padding: 0 5px;
}

.cta {
	border: none;
	background-color: #8bc34a;
	color: #f8fbf6;
	font-weight: 500;
	font-size: 15px;
	padding: 16px 31px 19px 31px;
	cursor: pointer;
}

.cta:hover {
	background-color: orange;
}