body {

    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    vertical-align: baseline;
    background: #ffffff;
    color: #444444;
}
.logo-block {
    margin: 21px 0;
}

.notify-block {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    min-height: 92px;
}

.notify-block>li {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 15px;
}

.notify-block li:last-child {
    margin-right: 0;
}

.notify-bell a {
    color: #757575;
    cursor: pointer;
}

.call-back-block {
    display: flex;
    align-items: center;
    min-height: 92px;
    color: #546e7a;
    font-size: 15px;

}

.call-back-block span {
    color: #e74c3c;
}

/*notify bell style*/
.notify-bell,
.notify-message,
.notify-cart {
    position: relative;
}

.notify-bell,
.notify-message,
.notify-cart a {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: block;
    background: #f5f5f5;
    color: #757575;
    font-size: 20px;
    text-align: center;
}

.notify-bell i {
    font-size: 14px;
}

.notify-bell span {
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    background: #fcb322;
    color: #ffffff;
    padding: 0 6px;
    font-size: 12px;
    line-height: 20px
}

/*notify message style*/
.notify-message {
    position: relative;
}

.notify-message a {
    color: #757575;
    cursor: pointer;
}

.notify-message i {
    font-size: 14px;
}

.notify-message span {
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    background: #ff6600;
    color: #ffffff;
    padding: 0 6px;
    font-size: 12px;
    line-height: 20px
}

.notify-message i:hover {
    color: #333333;
}

.notify-cart {
    position: relative;
}

.notify-cart i {
    color: #999999;
    font-size: 14px;
}

.notify-cart span {
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    background: #99cc33;
    color: #ffffff;
    padding: 0 6px;
    font-size: 12px;
    line-height: 20px
}

.account-user-block {
    position: relative;
    display: flex;
    align-items: center;

}

.account-user-block img {
    margin-right: 15px;
}

.account-user-block span {
    font-size: 11px;
}

.account-user-block button {
    border-style: none;
    background: #fff;
}

.account-name span{
    font-size: 14px;
    color: #222222;
    font-weight: bold;
}

.account-balance span {
    color: #8bc34a;
    font-size: 14px;
    font-weight: bold;
}

.account-user-block-row {
    align-items: center;
}

.account-dropdown {
    position: relative;
    top: -10px;
    left: 10px;
}

/*dropdown style menu notify*/
.notify-bell i:hover,
.notify-cart i:hover,
.notify-message i:hover {
    color: #263238;
}

.dropdown-message-menu,
.dropdown-notify-menu,
.dropdown-cart-menu {
    position: absolute;
    top: 63px;
    left: -235px;
    border: 1px solid #ccc;
    display: none;
    z-index: 1;
    background: #fff;
    box-shadow: 0px 1px 6px #616161;
}

.dropdown-notify-menu ul,
.dropdown-message-menu ul,
.dropdown-cart-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 270px;
    ;
}

.dropdown-notify-menu li,
.dropdown-message-menu li,
.dropdown-cart-menu li {
    border: 1px solid #cccc;
}

.dropdown-item-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 88px;
}

.dropdown-notification-inform span,
.dropdown-message-inform span,
.dropdown-cart-inform span,
.dropdown-cart-price span {
    position: static;
    border-radius: 0;
    color: #84b743;
    background: #ffff;
    display: block;
}

.dropdown-message-inform :first-child {
    color: #333;
}

.dropdown-notification-inform :last-child,
.dropdown-message-inform :last-child,
.dropdown-cart-inform :last-child {
    color: #444;
}

.dropdown-notification-sign i:hover,
.dropdown-message-sign i:hover {
    color: #ef6c00;
}

/*drop down cart start*/
.dropdown-cart-img {
    margin: 0 20px;
}

.dropdown-cart-inform {
    flex: 1;
}

.dropdown-cart-inform :first-child {
    color: #333;
    font-weight: bold;
    font-size: 11px;

}

.dropdown-cart-price {
    display: flex;
    justify-content: space-around;
}

.dropdown-cart-price span {
    color: #333333;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 17px;
}

.dropdown-cart-buttons {
    text-align: center;
}

.dropdown-cart-wrapper {
    width: 100%
}
/*dropdown account user block*/
.dropdown-user-menu {
    position: absolute;
    top: 92px;
    left: -145px;
    border: 1px solid #ccc;
    display: none;  
    width: 156px;
}
.dropdown-user-menu ul {
    padding: 0 20px;
    display:flex;
    flex-direction: column;
    overflow: hidden;
}
.dropdown-user-menu li {
    list-style-type: none;
    padding: 10px 0;
}
.dropdown-user-menu span {
    font-size: 11px;
}
.dropdown-user-menu i {
    margin-right: 9px;
    color: #99cc66;
}
.dropdown-user-menu a {
    text-decoration: none;
    color: #333;
}
.red-cart-btn {
    width: 46.24%;
    min-height: 35px;
    font-size: 10px;
    font-weight: bold;
    background-color: #ff6633;
    border-style: none;
    border-radius: 0;
}

.red-cart-btn:hover {
    background-color: #fff;
    color: #ff6633;
    border: 1px solid #ff6633;
    transition: all 0.5s ease-out;
}

.green-cart-btn {
    width: 46.24%;
    min-height: 35px;
    font-size: 10px;
    font-weight: bold;
    background-color: #99cc66;
    border-style: none;
    border-radius: 0;
}

.green-cart-btn:hover {
    background-color: #fff;
    color: #99cc66;
    border: 1px solid #99cc66;
    transition: all 0.5s ease-out;
}
/*for login button style*/
.login-btn {
    margin-right: 7px;
    text-align: center;
    color: #ffff; 
    padding: 8px 20px 9px;
    background-color:#99cc33 ; 
    text-transform: capitalize;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    border: 2px solid #99cc33;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.login-btn:hover {
    background-color:#ffff;
    color: #99cc33; 
    border-color:#99cc33; 
    text-decoration: none;
    transition: all 0.3s ease-out;
}
/*logout button style*/
.logout-btn,
.register-btn {
    margin-right: 7px;
    text-align: center;
    color: #ffff; 
    padding: 8px 20px 9px;
    background-color:#ff3333 ; 
    text-transform: capitalize;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    border: 2px solid #ff3333;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logout-btn:hover {
    background-color:#ffff;
    color: #ff3333; 
    border-color:#ff3333; 
    text-decoration: none;
    transition: all 0.3s ease-out;
}
/* for header after login*/
.notify-bell-disabled,
.notify-message-disabled,
.user-block-disabled {
    display: none;
}
.logout-btn,
.login-btn {
    display: none;
}
.register-btn-enabled,
.login-btn-enabled  {
    display: block;
}
