* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	box-sizing: border-box;
}

.scrumbl {
	width: 100%;
	height: 100px;
	background-color: #f4f6f5;
}

.product-details {
	font-family: 'Roboto', sans-serif;
	background-color: #f4f6f5;
}

.hero-product-details {
	max-width: 1170px;
	margin: 0 auto;
}

.item-product-large {
	border: 1px solid #dcdcdc;
	background-color: #fff;
	margin-bottom: 40px;
}

.product-large {
	margin: 20px;
	height: 425px;
	background-color: #d4d4d4;
}

.product-description h2 {
	font-size: 30px;
	font-family: "Roboto";
	margin-bottom: 30px;
}

.product-description p {
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 2;
	margin-bottom: 45px;
}

/*---------------------aside---------------------*/

.aside h4 {
	font-size: 20px;
	font-weight: bold;
}

.aside-section {
	border: 1px solid #dcdcdc;
	padding: 25px 25px 0 15px;
	background-color: #fff;
	margin-bottom: 30px;
}

.aside-info {
	border-top: 1px solid #dcdcdc;
	padding-top: 30px;
	display: flex;
	justify-content: space-around;
}

/*----------first aside block-------------*/

.product-price {
	position: relative;
}

.price-info .price {
	color: #e74c3c;
	font-size: 22px;	
	position: inherit;
	margin: 5px 5px 10px 0;
}

.product-price-option {
	border-radius: 0;
	border: 1px solid #d3d3d3;
	background-color: #fff;
	color: #70838d;
	margin-bottom: 28px;
}

.dropdown-toggle::after{
	color: #8bc34a;
}

.button-product-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn-product-price {
	max-width: 208px;
	height: 50px;
	margin-bottom: 8px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 1px;
	box-shadow: -2px 2px 7px rgba(0,0,0,0.5);
	transition-property: width;
	transition-duration: .2s;
}

.button-product-details .blue {
	background-color: #42a5f5;
}

.button-product-details .blue:hover {
	background-color: #fff;
	color: #42a5f5;
	border: 3px solid #42a5f5;
}

.button-product-details .grey {
	background-color: #546e7a;
	margin-bottom: 30px;
}

.button-product-details .grey:hover {
	background-color: #fff;
	color: #546e7a;
	border: 3px solid  #546e7a;
}

.button-product-details .green {
	background-color: #8bc34a;
}

.button-product-details .green:hover {
	background-color: #fff;
	color: #8bc34a;
	border: 3px solid  #8bc34a;
}

.fas,
.far {
	margin-right: 8px;
}

.btn-product-price:hover {
	width: 190px;
	height: 45px;
}

.dropdown-item:hover {
	background-color: #acb4b8;
}

/*----------second aside block------------*/

.photo-author {
	width: 75px;
	height: 65px;
	background-color: #d4d4d4;
}

.about-author span {
	display: block;
	font-size: 18px;
	margin: 0 5px 10px 14px;

}

.profile-button {
	width: 92px;
	height: 28px;
	border-radius: 1px;
	color: #939393;
	font-size: 13px;
	margin-left: 14px;
}

.author-info {
	margin-bottom: 25px;
}

@media (max-width: 960px) {

.btn-product-price:hover {
	width: 95%;
	height: 95%;
}

.aside-info {
	flex-direction: column;
}

.photo-author {
	margin: 0 auto;
	margin-bottom: 10px;
 }

.about-author span {
	text-align: center;
}

.profile-button {
	display: block;
	margin: 0 auto;
}
}